Repository GeoDaoyu/Chu: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint --fix

refactor(ui): 将 FunctionList 的 antd List 迁移至 Listy
  packages/ui/src/FunctionList/components/List/index.jsx
  packages/ui/src/FunctionList/components/List/index.less
Due: eslint --fix

chore: 切换 npm registry 至官方源
  .npmrc
Due: none

chore(deps): 升级 arcgis 至 5.1.20
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(deps): 提取 @umijs/max 至根目录并升级至 4.7.8
  apps/map-pro/package.json
  apps/scene-pro/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: 移除不再需要的 arcgis/umi 修复文件
  CLAUDE.md
  apps/map-pro/config/config.js
  apps/map-pro/public/config/fixHTMLElement.js
  apps/scene-pro/config/config.js
  apps/scene-pro/public/config/fixHTMLElement.js
  fix-arcgis-syntax-error.cjs
  package.json
Due: prettier --cache --write, eslint --fix

ci: 部署改为 push 自动触发并升级至官方 Pages Actions
  .github/workflows/deploy.yml
Due: none

revert: 恢复 public/config/fixHTMLElement.js 及 headScripts 引用
  apps/map-pro/config/config.js
  apps/map-pro/public/config/fixHTMLElement.js
  apps/scene-pro/config/config.js
  apps/scene-pro/public/config/fixHTMLElement.js
Due: eslint --fix

fix: add favicons config to avoid favicon.ico 404
  apps/map-pro/config/config.js
  apps/scene-pro/config/config.js
Due: eslint --fix

fix: bind map-components referenceElement to view container element
  packages/widgets/src/AreaMeasurement2D/index.jsx
  packages/widgets/src/AreaMeasurement3D/index.jsx
  packages/widgets/src/BasemapToggle/index.jsx
  packages/widgets/src/BuildingExplorer/index.jsx
  packages/widgets/src/Compass/index.jsx
  packages/widgets/src/Daylight/index.jsx
  packages/widgets/src/DirectLineMeasurement3D/index.jsx
  packages/widgets/src/DistanceMeasurement2D/index.jsx
  packages/widgets/src/ElevationProfile/index.jsx
  packages/widgets/src/Fullscreen/index.jsx
  packages/widgets/src/Legend/index.jsx
  packages/widgets/src/LineOfSight/index.jsx
  packages/widgets/src/ScaleBar/index.jsx
  packages/widgets/src/Search/index.jsx
  packages/widgets/src/Sketch/index.jsx
  packages/widgets/src/Slice/index.jsx
  packages/widgets/src/Swipe/index.jsx
  packages/widgets/src/Weather/index.jsx
  packages/widgets/src/useReferenceElement/index.jsx
Due: eslint --fix

Path conditions:
  prettier --cache --write: any of: *.{md,json}
  eslint --fix: any of: *.{js,jsx}
