Repository GeoDaoyu/Chu: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint --fix

style: rename AnalysisPage export
  apps/map-pro/src/pages/Analysis/index.js
  apps/map-pro/src/pages/Analysis/index.less
Due: eslint --fix

feat: calcite theming
  apps/scene-pro/config/config.js
  apps/scene-pro/public/css/overrides-calcite.css
  docs/philosophy/theme.md
Due: prettier --cache --write, eslint --fix

refactor: replace pro-components with antd in Login page
  apps/scene-pro/src/pages/Login/index.js
Due: eslint --fix

style: improve Login page with semantic class names and separated styles
  apps/scene-pro/src/pages/Login/index.js
  apps/scene-pro/src/pages/Login/index.less
Due: eslint --fix

style: improve Login page with semantic class names and separated styles
  apps/map-pro/src/pages/Login/index.js
  apps/map-pro/src/pages/Login/index.less
Due: eslint --fix

feat: remove Access pages and routes from both apps
  apps/map-pro/config/routes.js
  apps/map-pro/src/pages/Access/index.js
  apps/scene-pro/config/routes.js
  apps/scene-pro/src/pages/Access/index.js
Due: eslint --fix

chore: remove @ant-design/pro-components
  package.json
  packages/cli/public/templates/package.json.tpl
  pnpm-lock.yaml
Due: prettier --cache --write

feat: support groupLayer
  apps/scene-pro/mock/layerTree.js
  apps/scene-pro/public/api/v1/layerTree.json
  packages/lib/src/core/layer/core.js
  packages/lib/src/core/layer/createLayer.js
Due: prettier --cache --write, eslint --fix

docs: layerTree Group
  docs/philosophy/layerTree-layerControl.md
Due: prettier --cache --write

docs: mapping LayerTree field
  docs/philosophy/layerTree-layerControl.md
Due: prettier --cache --write

docs: timing.md
  docs/index.md
  docs/philosophy/timing.md
Due: prettier --cache --write

docs: add apps directory-structure
  docs/philosophy/monorepo.md
Due: prettier --cache --write

docs: add react-best-practices.md
  docs/philosophy/react-best-practices.md
Due: prettier --cache --write

docs: index.md
  docs/index.md
Due: prettier --cache --write

chore: mv react-best-practices
  docs/tutorial/react-best-practices.md
Due: prettier --cache --write

fix: 调整Home和Resource展示内容
  apps/scene-pro/src/pages/Home/config.js
  apps/scene-pro/src/pages/Home/index.js
  apps/scene-pro/src/pages/Resource/config.js
  apps/scene-pro/src/pages/Resource/index.js
Due: eslint --fix

refactor: addGeoJSONLayer by id
  apps/scene-pro/src/widgets/AddGeoJSONLayer/config.js
  apps/scene-pro/src/widgets/AddGeoJSONLayer/index.js
  apps/scene-pro/src/widgets/AddGeoJSONLayer/index.less
  apps/scene-pro/src/widgets/AddGeoJSONLayer/useLayer.js
Due: eslint --fix

docs: add AGENTS.md for neovate guidance
  AGENTS.md
Due: prettier --cache --write

refactor: layerTree
  apps/scene-pro/src/app.jsx
  apps/scene-pro/src/pages/Resource/index.js
  apps/scene-pro/src/services/getLayerTree.js
  apps/scene-pro/src/widgets/Map/index.js
  packages/middleware/src/layerTree/getLayerInfo.js
  packages/middleware/src/layerTree/layerControl.js
  packages/store/core/useLayerTreeStore.js
  packages/store/index.js
  packages/store/package.json
  packages/widgets/src/LayerTree/LayerTree.jsx
  packages/widgets/src/LayerTree/withSearch/index.jsx
  pnpm-lock.yaml
Due: prettier --cache --write, eslint --fix

chore: disable DID_YOU_KNOW
  apps/scene-pro/.env
Due: none

refactor: move devDependencies to root package.json
  apps/map-pro/package.json
  apps/scene-pro/package.json
  package.json
Due: prettier --cache --write

chore: upgrade umi to 4.6.29 and arcgis to 5.0.5
  apps/map-pro/package.json
  apps/scene-pro/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: fix arcgis syntax error by script
  fix-arcgis-syntax-error.cjs
  package.json
Due: prettier --cache --write

fix: remove attribution
  apps/scene-pro/src/widgets/Map/index.js
Due: eslint --fix

feat: layerList
  packages/widgets/src/LayerList/index.jsx
  packages/widgets/src/LayerList/index.less
Due: eslint --fix

docs: useEffectEvent 示例代码
  docs/tutorial/react-best-practices.md
Due: prettier --cache --write

docs: lib readme
  packages/lib/README.md
Due: prettier --cache --write

docs: replace AGENTS.md with CLAUDE.md
  AGENTS.md
  CLAUDE.md
Due: prettier --cache --write

chore: upgrade antd to v6 and @ant-design/icons to v6
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

feat: layerlist support dnd
  package.json
  packages/widgets/package.json
  packages/widgets/src/LayerList/components/LayerItem/index.jsx
  packages/widgets/src/LayerList/components/LayerItem/index.less
  packages/widgets/src/LayerList/index.jsx
  packages/widgets/src/LayerList/index.less
  packages/widgets/src/LayerList/index.md
  pnpm-lock.yaml
Due: prettier --cache --write, eslint --fix

fix: conditionally render DropMenu when items are provided
  packages/widgets/src/LayerTree/withActions/index.jsx
Due: eslint --fix

fix: add null check before calling addLayer in layerControl middleware
  packages/middleware/src/layerTree/layerControl.js
Due: eslint --fix

feat: layerTree support defaultChecked to auto-load layers on init
  apps/scene-pro/mock/layerTree.js
  apps/scene-pro/public/api/v1/layerTree.json
  apps/scene-pro/src/widgets/Map/index.js
  packages/middleware/src/layerTree/getDefaultCheckedKeys.js
  packages/middleware/src/layerTree/layerControl.js
Due: prettier --cache --write, eslint --fix

docs: update layerTree-layerControl design doc to match actual implementation
  docs/philosophy/layerTree-layerControl.md
Due: prettier --cache --write

feat: support multiple independent LayerTree instances via useStore prop
  docs/philosophy/layerTree-layerControl.md
  packages/store/core/useLayerTreeStore.js
  packages/store/index.js
  packages/widgets/src/LayerTree/LayerTree.jsx
Due: prettier --cache --write, eslint --fix

docs: add when-to-use-useStore decision table for multi-instance LayerTree
  docs/philosophy/layerTree-layerControl.md
Due: prettier --cache --write

refactor: replace layerControl middleware with subscribeWithSelector
  docs/philosophy/layerTree-layerControl.md
  packages/lib/src/core/layer/index.js
  packages/lib/src/core/layer/treeData.js
  packages/middleware/package.json
  packages/middleware/src/index.js
  packages/middleware/src/layerTree/getDefaultCheckedKeys.js
  packages/middleware/src/layerTree/getLayerInfo.js
  packages/middleware/src/layerTree/index.js
  packages/middleware/src/layerTree/layerControl.js
  packages/store/core/useLayerTreeStore.js
  packages/store/index.js
  packages/store/package.json
Due: prettier --cache --write, eslint --fix

feat: allow custom layerControl in createLayerTreeStore
  docs/philosophy/layerTree-layerControl.md
  packages/store/core/useLayerTreeStore.js
Due: prettier --cache --write, eslint --fix

chore: 升级 pnpm 至 11.18.0 并移除 ui/widgets 的 dumi 依赖
  package.json
  packages/ui/.dumirc.ts
  packages/ui/package.json
  packages/widgets/.dumirc.ts
  packages/widgets/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

chore(deps): 升级 antd 至 ^6.6.0
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

Path conditions:
  prettier --cache --write: any of: *.{md,json}
  eslint --fix: any of: *.{js,jsx}
