Repository GeoDaoyu/Chu: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint --fix

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["eslint --fix"],
  "*.ts?(x)": ["eslint --fix"]
}

chore: eslint
  apps/cim-map/src/components/SideCollapse/config.js
  apps/cim-map/src/components/SideCollapse/index.js
  apps/cim-map/src/components/SideCollapse/index.less
  eslint-results.txt
  eslint.config.mjs
  packages/store/index.d.ts
  packages/ui/tsconfig.json
  packages/widgets/tsconfig.json
Due: prettier --cache --write, eslint --fix

style: eslint
  .stylelintignore
  apps/cim-map/src/components/User/index.js
  apps/cim-map/src/pages/Login/index.js
  apps/cim-map/src/pages/SSO/index.js
  apps/cim-map/src/widgets/AddGeoJSONLayer/index.js
  apps/cim-map/src/widgets/Map/index.js
  eslint.config.mjs
  packages/lib/eslint.config.mjs
  packages/lib/index.d.ts
  packages/lib/src/core/layer/core.js
  pnpm-lock.yaml
Due: eslint --fix

fix: eslint-disable no-console in cli
  packages/cli/src/create.js
  packages/cli/src/index.js
  packages/lib/eslint.config.mjs
Due: eslint --fix

docs: update lint
  README.md
  docs/philosophy/lint.md
Due: prettier --cache --write

chore: update @arcgis/core 4.33
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

docs: update index.md
  docs/index.md
Due: prettier --cache --write

docs: Create faq.md
  docs/tutorial/faq.md
Due: prettier --cache --write

docs/faq (#2)
  docs/index.md
  docs/tutorial/faq.md
Due: prettier --cache --write

docs: update lint.md
  docs/philosophy/lint.md
Due: prettier --cache --write

docs(ui): update FunctionList.md
  packages/ui/src/FunctionList/index.md
Due: prettier --cache --write

feat(ui): add Toolbar
  apps/cim-map/src/layouts/index.js
  packages/ui/src/Toolbar/index.jsx
  packages/ui/src/Toolbar/index.md
  packages/ui/src/index.js
Due: prettier --cache --write, eslint --fix

feat(ui): add Toolbar
  apps/cim-map/src/layouts/index.js
  packages/ui/src/FunctionList/index.md
  packages/ui/src/Toolbar/index.jsx
  packages/ui/src/Toolbar/index.md
  packages/ui/src/index.js
Due: prettier --cache --write, eslint --fix

feat: access demo
  apps/cim-map/src/layouts/index.js
  apps/cim-map/src/pages/Home/config.js
  docs/philosophy/access.md
  packages/widgets/src/CoordinateConversion/index.jsx
  packages/widgets/src/CoordinateConversion/index.md
  packages/widgets/src/index.js
Due: prettier --cache --write, eslint --fix

refactor: add packages/middleware
  packages/lib/src/index.js
  packages/lib/src/middleware/index.js
  packages/middleware/.gitignore
  packages/middleware/package.json
  packages/middleware/src/index.js
  packages/middleware/src/layerTree/index.js
  packages/middleware/src/layerTree/layerControl.js
  packages/middleware/src/log/index.js
  packages/middleware/src/log/log.js
  packages/widgets/package.json
  packages/widgets/src/LayerTree/index.jsx
Due: prettier --cache --write, eslint --fix

fix: remove View prop from LayerTree
  packages/widgets/src/LayerTree/index.jsx
  pnpm-lock.yaml
Due: eslint --fix

fix: addLayer method
  packages/lib/src/core/layer/core.js
Due: eslint --fix

chore: rename layerControl
  packages/middleware/src/layerTree/index.js
  packages/middleware/src/layerTree/layerControl.js
  packages/store/util/index.js
  packages/store/util/withMiddlewares.js
  packages/widgets/src/LayerTree/index.jsx
Due: eslint --fix

refactor(middleware): withMiddeware
  packages/store/core/useLayerTreeStore.js
  packages/store/index.js
  packages/store/util/withMiddlewares.js
  packages/widgets/src/LayerTree/index.jsx
Due: eslint --fix

refactor: layerControl
  packages/middleware/src/layerTree/layerControl.js
  packages/widgets/src/LayerTree/index.jsx
Due: eslint --fix

fix: missing key & add tooltip in Toolbar
  apps/cim-map/src/layouts/index.js
  packages/ui/src/Toolbar/index.jsx
  packages/ui/src/Toolbar/index.md
Due: prettier --cache --write, eslint --fix

feat: add getLayerInfo method
  apps/cim-map/mock/layerTree.js
  packages/lib/src/core/layer/core.js
  packages/middleware/src/layerTree/layerControl.js
  packages/middleware/src/layerTree/util/getLayerInfo.js
  packages/middleware/src/layerTree/util/index.js
Due: eslint --fix

feat: layerTree useMemo
  apps/cim-map/src/pages/Resource/index.js
  apps/cim-map/src/utils/getLayerInfo.js
  packages/middleware/src/layerTree/layerControl.js
  packages/middleware/src/layerTree/util/index.js
  packages/store/core/useLayerTreeStore.js
  packages/widgets/src/LayerTree/index.jsx
Due: eslint --fix

feat: add LayerTree with search
  packages/widgets/src/LayerTree/search.jsx
  packages/widgets/src/index.js
Due: eslint --fix

docs: update readme.en-US.md
  README.en-US.md
Due: prettier --cache --write

refactor: use arcgis-scene instead of views/SceneView
  apps/cim-map/src/widgets/Map/index.js
  apps/cim-map/src/widgets/Map/index.less
  package.json
  packages/widgets/src/Sketch/index.jsx
  packages/widgets/src/Sketch/index.md
  pnpm-lock.yaml
Due: prettier --cache --write, eslint --fix

refactor: arcgis-legend
  packages/widgets/src/Legend/index.jsx
  packages/widgets/src/Legend/index.md
Due: prettier --cache --write, eslint --fix

refactor: arcgis-layer-list
  packages/widgets/src/LayerList/index.jsx
  packages/widgets/src/LayerList/index.md
Due: prettier --cache --write, eslint --fix

refactor: arcgis-daylight
  packages/widgets/src/Daylight/index.jsx
Due: eslint --fix

refactor: arcgis-weather
  packages/widgets/src/Weather/index.jsx
Due: eslint --fix

docs: upgrade to map-components
  docs/philosophy/gis.md
  docs/philosophy/widgets.md
Due: prettier --cache --write

fix: view.ui.remove('attribution')
  apps/cim-map/src/widgets/Map/index.js
Due: eslint --fix

chore: github deploy
  .github/workflows/deploy.yml
  .gitignore
  package.json
Due: prettier --cache --write

chore: pnpm install
  .github/workflows/deploy.yml
Due: none

chore: git depth
  .github/workflows/deploy.yml
Due: none

chore: permissions
  .github/workflows/deploy.yml
Due: none

Update 36130.async.js
  36130.async.js
Due: eslint --fix

chore: deploy dispatch
  .github/workflows/deploy.yml
Due: none

feat: layerTree withSearch
  apps/cim-map/src/pages/Resource/index.js
  packages/widgets/src/LayerTree/core.jsx
  packages/widgets/src/LayerTree/index.jsx
  packages/widgets/src/LayerTree/search.jsx
  packages/widgets/src/LayerTree/withSearch.jsx
  packages/widgets/src/index.js
Due: eslint --fix

docs: layerTree withSearch
  packages/widgets/src/LayerTree/index.md
Due: prettier --cache --write
