Repository GeoDaoyu/Chu: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint --fix

docs: theme.md
  docs/index.md
  docs/philosophy/antd-theme.md
  docs/philosophy/theme.md
Due: prettier --cache --write

feat(widgets): add Search
  packages/widgets/src/Search/index.jsx
  packages/widgets/src/Search/index.md
Due: prettier --cache --write, eslint --fix

chore: store export *
  packages/store/package.json
Due: prettier --cache --write

refactor(apps): login page
  apps/map-pro/public/logo.svg
  apps/map-pro/src/app.jsx
  apps/map-pro/src/pages/Login/images/background.png
  apps/map-pro/src/pages/Login/index.js
  apps/map-pro/src/pages/Login/index.less
  apps/scene-pro/public/logo.svg
  apps/scene-pro/src/app.jsx
  apps/scene-pro/src/pages/Login/images/background.png
  apps/scene-pro/src/pages/Login/index.js
  apps/scene-pro/src/pages/Login/index.less
Due: eslint --fix

fix: layerTree missing rest param
  packages/widgets/src/LayerTree/withActions/index.jsx
  packages/widgets/src/LayerTree/withSearch.jsx
Due: eslint --fix

feat(widgets): add Screenshot
  packages/widgets/src/Screenshot/index.jsx
  packages/widgets/src/Screenshot/index.md
Due: prettier --cache --write, eslint --fix

feat(widgets): add Identify
  apps/scene-pro/mock/layerTree.js
  apps/scene-pro/src/pages/Home/config.js
  packages/widgets/src/Identify/index.jsx
  packages/widgets/src/Identify/index.md
Due: prettier --cache --write, eslint --fix

refactor: map widget
  apps/map-pro/src/widgets/Map/index.js
  apps/map-pro/src/widgets/Map/index.less
  apps/scene-pro/src/pages/Home/config.js
  apps/scene-pro/src/widgets/Map/index.js
  apps/scene-pro/src/widgets/Map/index.less
  docs/philosophy/widgets.md
Due: prettier --cache --write, eslint --fix

feat: enhancement LayerTree count layer
  apps/scene-pro/mock/layerTree.js
  docs/philosophy/layerTree-layerControl.md
  packages/widgets/src/LayerTree/index.md
  packages/widgets/src/LayerTree/withSearch/index.jsx
  packages/widgets/src/LayerTree/withSearch/index.less
Due: prettier --cache --write, eslint --fix

chore: fix HtmlElement bug
  apps/map-pro/config/config.js
  apps/map-pro/public/config/fixHTMLElement.js
  apps/scene-pro/config/config.js
  apps/scene-pro/public/config/fixHTMLElement.js
Due: eslint --fix

fix: enhancement LayerTree withActions #50
  apps/scene-pro/src/pages/Resource/index.js
  packages/lib/src/core/layer/core.js
  packages/widgets/src/LayerTree/index.md
  packages/widgets/src/LayerTree/withActions/DropMenu.jsx
  packages/widgets/src/LayerTree/withActions/index.jsx
Due: prettier --cache --write, eslint --fix

fix: scroll style in FunctionList #30
  packages/ui/src/FunctionList/components/List/index.jsx
  packages/ui/src/FunctionList/components/List/index.less
Due: eslint --fix

feat(ui): header样式优化 #18
  apps/scene-pro/public/avatar.png
  apps/scene-pro/src/components/User/index.js
  apps/scene-pro/src/components/User/index.less
  apps/scene-pro/src/layouts/components/BaseHeader/index.js
  apps/scene-pro/src/layouts/components/BaseHeader/index.less
  apps/scene-pro/src/layouts/index.js
  apps/scene-pro/src/layouts/index.less
Due: eslint --fix

fix: layerTree data #45
  apps/scene-pro/mock/layerTree.js
Due: eslint --fix

fix: rename Distance2D
  apps/map-pro/src/pages/Analysis/config.js
  packages/widgets/src/DirectLineMeasurement2D/index.md
  packages/widgets/src/DistanceMeasurement2D/index.jsx
  packages/widgets/src/DistanceMeasurement2D/index.md
Due: prettier --cache --write, eslint --fix

feat: add Swipe
  packages/widgets/src/Swipe/index.jsx
  packages/widgets/src/Swipe/index.md
Due: prettier --cache --write, eslint --fix

feat: add Viewshed
  apps/scene-pro/src/pages/Analysis/config.js
  packages/widgets/src/Viewshed/index.jsx
  packages/widgets/src/Viewshed/index.md
Due: prettier --cache --write, eslint --fix

chore: api path
  apps/scene-pro/mock/layerTree.js
  apps/scene-pro/public/api/v1/layerTree.json
  apps/scene-pro/src/pages/Resource/service.js
Due: prettier --cache --write, eslint --fix

deploy: 9659940107916e91c92326ccf9a49465806beffd
  12290.async.js
  13259.async.js
  16814.async.js
  20299.async.js
  25158.async.js
  265.async.js
  32.async.js
  35846.async.js
  51304.async.js
  5431.async.js
  60341.async.js
  63887.async.js
  69912.async.js
  70086.async.js
  70560.async.js
  71110.async.js
  7192.async.js
  72603.async.js
  74336.async.js
  77125.async.js
  78845.async.js
  79568.async.js
  81533.async.js
  83727.async.js
  88665.async.js
  89996.async.js
  api/v1/layerTree.json
  avatar.png
  layouts__index.async.js
  layouts__index.chunk.css
  p__Analysis__index.async.js
  p__Analysis__index.chunk.css
  p__Effect__index.async.js
  p__Effect__index.chunk.css
  p__Resource__index.async.js
  preload_helper.js
  umi.js
Due: prettier --cache --write, eslint --fix

fix: layerTree api path
  apps/scene-pro/mock/layerTree.js
  apps/scene-pro/src/pages/Resource/service.js
Due: eslint --fix

deploy: 08018c6cd5acf4dff541cdbcd65218d910ed2ceb
  p__Resource__index.async.js
Due: eslint --fix

docs: add some widgets
  README.en-US.md
  README.md
Due: prettier --cache --write

fix(cli): clean cli dir
  packages/cli/src/create.js
Due: eslint --fix

chore(eslint): search Widget
  packages/widgets/src/Search/index.jsx
Due: eslint --fix

refactor(cli): remove dir util
  packages/cli/src/create.js
  packages/cli/src/index.js
  packages/cli/src/utils/rmDir.js
Due: eslint --fix

feat: optimize LayerTree withActions styles
  packages/widgets/src/LayerTree/withActions/index.less
Due: none

refactor(cli): extract .git removal to rmDir
  packages/cli/src/create.js
  packages/cli/src/utils/rmDir.js
Due: eslint --fix

refactor(cli): simplify rmDir to single function
  packages/cli/src/create.js
  packages/cli/src/utils/rmDir.js
Due: eslint --fix

refactor(cli): restructure create module
  packages/cli/src/create/index.js
  packages/cli/src/index.js
Due: eslint --fix

feat(cli): add template replacement for package.json
  packages/cli/src/create/index.js
  packages/cli/templates/package.json.tpl
Due: eslint --fix

chore(cli): npm publish
  packages/cli/package.json
Due: prettier --cache --write

fix(cli): tpl path not found
  packages/cli/public/templates/package.json.tpl
  packages/cli/src/create/index.js
  packages/cli/tsup.config.js
Due: eslint --fix

fix(cli): missing template param
  packages/cli/package.json
  packages/cli/public/templates/package.json.tpl
  packages/cli/src/create/index.js
Due: prettier --cache --write, eslint --fix

chore(cli): release scripts
  packages/cli/package.json
Due: prettier --cache --write

feat: sync LayerTree
  apps/scene-pro/src/models/layers.js
  apps/scene-pro/src/pages/Resource/index.js
  apps/scene-pro/src/widgets/AddGeoJSONLayer/index.js
  packages/widgets/src/LayerTree/LayerTree.jsx
Due: eslint --fix

chore: antd 5.x -> 6.x
  apps/scene-pro/config/config.js
  apps/scene-pro/src/layouts/components/BaseHeader/index.less
  apps/scene-pro/src/widgets/Map/index.less
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write, eslint --fix

chore: antd 5 style
  apps/scene-pro/src/widgets/Map/index.less
Due: none

revert: back antd to 5.x
  apps/scene-pro/src/models/layers.js
  apps/scene-pro/src/pages/Resource/index.js
  apps/scene-pro/src/widgets/AddGeoJSONLayer/index.js
  packages/widgets/src/LayerTree/LayerTree.jsx
Due: eslint --fix

revert: 回滚到antd 5.x
  apps/scene-pro/config/config.js
  apps/scene-pro/src/layouts/components/BaseHeader/index.less
  apps/scene-pro/src/widgets/Map/index.less
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write, eslint --fix

Path conditions:
  prettier --cache --write: any of: *.{md,json}
  eslint --fix: any of: *.{js,jsx}
