Repository GeoDaoyu/Chu: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint --fix

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["eslint --fix"],
  "*.ts?(x)": ["eslint --fix"]
}

fix: layerTree withSearch
  apps/cim-map/src/pages/Resource/index.js
  packages/widgets/src/LayerTree/core.jsx
  packages/widgets/src/LayerTree/index.md
Due: prettier --cache --write, eslint --fix

docs(widgets): layerTree getLayerInfo
  packages/widgets/src/LayerTree/LayerTree.jsx
  packages/widgets/src/LayerTree/index.jsx
  packages/widgets/src/LayerTree/index.md
Due: prettier --cache --write, eslint --fix

docs: add layerTree-layerControl.md
  apps/cim-map/src/pages/Resource/index.js
  docs/index.md
  docs/philosophy/layerTree-layerControl.md
Due: prettier --cache --write, eslint --fix

feat: add withActions
  apps/cim-map/src/pages/Resource/index.js
  packages/lib/src/core/layer/index.js
  packages/lib/src/core/layer/operation.js
  packages/widgets/src/LayerTree/index.jsx
  packages/widgets/src/LayerTree/withActions/DropMenu.jsx
  packages/widgets/src/LayerTree/withActions/index.jsx
  packages/widgets/src/LayerTree/withActions/index.less
  packages/widgets/src/LayerTree/withSearch.jsx
  packages/widgets/src/index.js
Due: eslint --fix

docs: hoc compose
  apps/cim-map/src/pages/Resource/index.js
  docs/philosophy/layerTree-layerControl.md
Due: prettier --cache --write, eslint --fix

fix(widgets/LayerTree): missing key
  packages/widgets/src/LayerTree/withActions/index.jsx
Due: eslint --fix

fix(widgets/LayerTree): actions style
  packages/widgets/src/LayerTree/withActions/index.jsx
  packages/widgets/src/LayerTree/withSearch.jsx
Due: eslint --fix

deploy: 9f29e4ddd246529b1b7073bb8df27558d1199b4b
  12496.async.js
  32799.async.js
  33273.async.js
  33376.async.js
  35720.async.js
  36130.async.js
  37931.async.js
  4172.async.js
  42439.async.js
  47062.async.js
  48733.async.js
  4925.async.js
  72133.async.js
  75029.async.js
  78845.async.js
  78974.async.js
  93635.async.js
  95474.async.js
  98689.async.js
  layouts__index.async.js
  p__Access__index.async.js
  p__Analysis__index.async.js
  p__Analysis__index.chunk.css
  p__Effect__index.async.js
  p__Effect__index.chunk.css
  p__Home__index.async.js
  p__Home__index.chunk.css
  p__Login__index.async.js
  p__Resource__index.async.js
  p__Resource__index.chunk.css
  umi.js
Due: eslint --fix

feat: elevation-profile
  apps/cim-map/src/pages/Analysis/config.js
  packages/widgets/src/ElevationProfile/index.jsx
  packages/widgets/src/ElevationProfile/index.md
  packages/widgets/src/index.js
Due: prettier --cache --write, eslint --fix

docs: update readme
  packages/ui/.dumirc.ts
  packages/ui/README.md
  packages/ui/docs/index.md
  packages/widgets/README.md
  packages/widgets/docs/index.md
Due: prettier --cache --write

chore: widgets export
  apps/cim-map/src/pages/Home/config.js
  packages/widgets/package.json
Due: prettier --cache --write, eslint --fix

chore: widgets export *
  packages/widgets/package.json
  packages/widgets/src/index.js
Due: prettier --cache --write, eslint --fix

chore(apps): analysis widgets import
  apps/cim-map/src/pages/Analysis/config.js
  apps/cim-map/src/pages/Analysis/index.js
  packages/widgets/src/Daylight/index.jsx
  packages/widgets/src/LineOfSight/index.jsx
  packages/widgets/src/index.js
Due: eslint --fix

chore(apps): effect widgets import
  apps/cim-map/src/pages/Effect/config.js
  apps/cim-map/src/pages/Effect/index.js
  packages/widgets/src/MediaMixin/index.jsx
  packages/widgets/src/Weather/index.jsx
Due: eslint --fix

chore(widgets): clean export
  packages/widgets/src/index.js
Due: eslint --fix

fix(ui): functionList height
  packages/ui/src/FunctionList/index.less
Due: none

refactor(widgets): lineOfSight
  packages/widgets/src/LineOfSight/index.jsx
  packages/widgets/src/LineOfSight/index.md
Due: prettier --cache --write, eslint --fix

fix: zoom typo
  apps/cim-map/src/layouts/index.js
Due: eslint --fix

feat(widgets): DirectLineMeasurement3D & AreaMeasurement3D
  apps/cim-map/src/pages/Analysis/config.js
  packages/widgets/src/AreaMeasurement3D/index.jsx
  packages/widgets/src/AreaMeasurement3D/index.md
  packages/widgets/src/DirectLineMeasurement3D/index.jsx
  packages/widgets/src/DirectLineMeasurement3D/index.md
Due: prettier --cache --write, eslint --fix

fix(widgets): measurement
  apps/cim-map/src/pages/Analysis/config.js
  packages/widgets/src/AreaMeasurement3D/index.jsx
  packages/widgets/src/DirectLineMeasurement3D/index.jsx
Due: eslint --fix

docs(widgets): update import widget
  packages/widgets/src/AreaMeasurement3D/index.md
  packages/widgets/src/CoordinateConversion/index.md
  packages/widgets/src/Daylight/index.md
  packages/widgets/src/DirectLineMeasurement3D/index.md
  packages/widgets/src/ElevationProfile/index.md
  packages/widgets/src/LayerList/index.md
  packages/widgets/src/Legend/index.md
  packages/widgets/src/LineOfSight/index.md
  packages/widgets/src/Sketch/index.md
  packages/widgets/src/Weather/index.md
Due: prettier --cache --write

feat(widgets): add Slice
  apps/cim-map/src/pages/Analysis/config.js
  packages/widgets/src/Slice/index.jsx
  packages/widgets/src/Slice/index.md
Due: prettier --cache --write, eslint --fix

feat(widgets): add BuildingExplorer
  apps/cim-map/src/pages/Analysis/config.js
  packages/widgets/src/BuildingExplorer/index.jsx
  packages/widgets/src/BuildingExplorer/index.md
Due: prettier --cache --write, eslint --fix

chore: export * from @chu/ui
  apps/cim-map/src/layouts/index.js
  apps/cim-map/src/pages/Analysis/index.js
  apps/cim-map/src/pages/Effect/index.js
  apps/cim-map/src/pages/Home/index.js
  apps/cim-map/src/pages/Resource/index.js
  packages/ui/README.md
  packages/ui/package.json
  packages/ui/src/index.js
  packages/widgets/README.md
Due: prettier --cache --write, eslint --fix

chore: export LayerTree
  apps/cim-map/src/pages/Resource/index.js
  packages/widgets/src/LayerTree/index.jsx
  packages/widgets/src/index.js
Due: eslint --fix

chore: map-pro pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: git pages publish_dir
  .github/workflows/deploy.yml
Due: none

feat: add Basemap Toggle
  apps/scene-pro/src/layouts/index.js
  apps/scene-pro/src/layouts/index.less
  apps/scene-pro/src/widgets/Map/index.js
  packages/widgets/src/BasemapToggle/index.jsx
  packages/widgets/src/BasemapToggle/index.md
  packages/widgets/src/ElevationProfile/index.jsx
Due: prettier --cache --write, eslint --fix

chore: system title
  apps/map-pro/public/config/index.js
  apps/scene-pro/public/config/index.js
Due: eslint --fix

Update 30520.async.js
  30520.async.js
Due: eslint --fix

feat: add Area Measurement 2D & Distance Measurement 2D
  apps/map-pro/src/pages/Analysis/config.js
  apps/scene-pro/src/pages/Analysis/config.js
  packages/widgets/src/AreaMeasurement2D/index.jsx
  packages/widgets/src/AreaMeasurement2D/index.md
  packages/widgets/src/DirectLineMeasurement2D/index.jsx
  packages/widgets/src/DirectLineMeasurement2D/index.md
Due: prettier --cache --write, eslint --fix

feat(widgets): add Compass
  packages/widgets/src/Compass/index.jsx
  packages/widgets/src/Compass/index.md
Due: prettier --cache --write, eslint --fix

feat(widgets): add ScaleBar
  packages/widgets/src/ScaleBar/index.jsx
  packages/widgets/src/ScaleBar/index.md
Due: prettier --cache --write, eslint --fix

docs: fix BasemapToggle md
  packages/widgets/src/BasemapToggle/index.md
Due: prettier --cache --write

chore: jsconfig.json
  apps/map-pro/jsconfig.json
  apps/map-pro/src/layouts/index.js
  apps/map-pro/src/pages/Home/index.js
  apps/map-pro/src/pages/Resource/index.js
  apps/map-pro/src/widgets/AddGeoJSONLayer/useLayer.js
  apps/map-pro/src/widgets/Map/index.js
  apps/map-pro/tsconfig.json
  apps/scene-pro/jsconfig.json
  apps/scene-pro/src/layouts/index.js
  apps/scene-pro/src/pages/Home/index.js
  apps/scene-pro/src/pages/Resource/index.js
  apps/scene-pro/src/widgets/AddGeoJSONLayer/useLayer.js
  apps/scene-pro/src/widgets/Map/index.js
  apps/scene-pro/tsconfig.json
  docs/philosophy/layerTree-layerControl.md
  packages/middleware/src/layerTree/layerControl.js
  packages/widgets/src/Daylight/index.jsx
  packages/widgets/src/LayerTree/withActions/index.jsx
  packages/widgets/src/MediaMixin/index.jsx
  packages/widgets/src/Weather/index.jsx
Due: prettier --cache --write, eslint --fix

feat(widgets): add Fullscreen
  packages/widgets/src/Fullscreen/index.jsx
  packages/widgets/src/Fullscreen/index.md
Due: prettier --cache --write, eslint --fix
